USE [master]
GO
/****** Object:  Database [GruposBD]    Script Date: 10/26/2025 3:08:46 AM ******/
CREATE DATABASE [GruposBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GruposBD', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GruposBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GruposBD_log', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GruposBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GruposBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GruposBD]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[IdAlumnos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NULL,
	[Estatus] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[IdAlumnos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewAlumnos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewAlumnos]
AS
SELECT * FROM dbo.Alumnos
GO
/****** Object:  Table [dbo].[Academico]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academico](
	[IdAcademico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Grado] [varchar](10) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Academico] PRIMARY KEY CLUSTERED 
(
	[IdAcademico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewAcademico]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewAcademico]
AS
SELECT * FROM dbo.Academico
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[IdAula] [int] IDENTITY(1,1) NOT NULL,
	[Edificio] [varchar](10) NULL,
	[Aula] [varchar](10) NULL,
	[Piso] [varchar](10) NULL,
	[CapacidadMaxima] [varchar](10) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Aula] PRIMARY KEY CLUSTERED 
(
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewAula]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewAula]
AS
SELECT * FROM dbo.Aula
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[IdCarrera] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarrera] [varchar](50) NULL,
	[SiglasCarrera] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewCarrera]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewCarrera]
AS
SELECT * FROM dbo.Carrera
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[IdCiudad] [int] IDENTITY(1,1) NOT NULL,
	[NombreCiudad] [varchar](50) NULL,
	[SiglasCiudad] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
	[IdEstado] [int] NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewCiudad]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewCiudad]
AS
SELECT * FROM dbo.Ciudad
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NULL,
	[SiglaEstado] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
	[IdPais] [int] NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewEstado]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewEstado]
AS
SELECT * FROM dbo.Estado
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[IdEstatus] [int] IDENTITY(1,1) NOT NULL,
	[ClaveEstatus] [varchar](50) NULL,
	[NombreEstatus] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
 CONSTRAINT [PK_Estatus] PRIMARY KEY CLUSTERED 
(
	[IdEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewEstatus]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewEstatus]
AS
SELECT * FROM dbo.Estatus
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[Id_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdMaestro] [int] NOT NULL,
	[IdAula] [int] NOT NULL,
	[Horario] [varchar](50) NOT NULL,
	[IdCarrera] [int] NOT NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[Id_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewGrupo]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewGrupo]
AS
SELECT * FROM dbo.Grupo
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](50) NULL,
	[Creditos] [varchar](10) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewMateria]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewMateria]
AS
SELECT * FROM dbo.Materia
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[NombrePais] [varchar](50) NULL,
	[SiglaPais] [varchar](50) NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewPais]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewPais]
AS
SELECT * FROM dbo.Pais
GO
/****** Object:  Table [dbo].[Reincripcion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reincripcion](
	[IdReinscripcion] [int] IDENTITY(1,1) NOT NULL,
	[Id_Grupo] [int] NULL,
	[Id_Alumno] [int] NULL,
	[Calificacion] [float] NULL,
	[FechaHoraCreacion] [datetime] NULL,
 CONSTRAINT [PK_Reincripcion] PRIMARY KEY CLUSTERED 
(
	[IdReinscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewReinscripcion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewReinscripcion]
AS
SELECT * FROM dbo.Reincripcion
GO
/****** Object:  View [dbo].[viewDireccion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewDireccion]
AS
SELECT 
    c.idCiudad,
    c.NombreCiudad,
    e.NombreEstado,
    p.NombrePais
FROM dbo.Ciudad AS c
INNER JOIN dbo.Estado AS e ON c.idEstado = e.idEstado
INNER JOIN dbo.Pais AS p ON e.idPais = p.idPais;
GO
/****** Object:  View [dbo].[viewReinscripcionesCompleto]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewReinscripcionesCompleto]
AS
SELECT r.IdReinscripcion, a.Nombre AS Alumno, a.Apellidos, ac.Nombre AS Maestro, ac.Apellidos AS ApellidosMaestro, c.NombreCarrera, au.Aula, au.Edificio, g.Horario, r.Calificacion, a.IdAlumnos, g.Id_Grupo
FROM     dbo.Reincripcion AS r INNER JOIN
                  dbo.Alumnos AS a ON r.Id_Alumno = a.IdAlumnos INNER JOIN
                  dbo.Grupo AS g ON r.Id_Grupo = g.Id_Grupo INNER JOIN
                  dbo.Academico AS ac ON g.IdMaestro = ac.IdAcademico INNER JOIN
                  dbo.Carrera AS c ON g.IdCarrera = c.IdCarrera INNER JOIN
                  dbo.Aula AS au ON g.IdAula = au.IdAula
GO
/****** Object:  View [dbo].[viewGrupoMaestro]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewGrupoMaestro]
AS
SELECT 
    g.Id_Grupo,
    ac.IdAcademico,
    ac.Nombre AS NombreMaestro,
    ac.Apellidos AS ApellidosMaestro,
    au.Aula,
    au.Edificio,
    au.Piso,
    g.Horario
FROM dbo.Grupo AS g
INNER JOIN dbo.Academico AS ac ON g.IdMaestro = ac.IdAcademico
INNER JOIN dbo.Aula AS au ON g.IdAula = au.IdAula;
GO
/****** Object:  View [dbo].[viewAlumnosCarreras]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewAlumnosCarreras]
AS
SELECT 
    a.IdAlumnos,
    a.Nombre AS NombreAlumno,
    a.Apellidos AS ApellidosAlumno,
    c.IdCarrera,
    c.NombreCarrera,
    c.SiglasCarrera
FROM dbo.Alumnos AS a
INNER JOIN dbo.Reincripcion AS r ON a.IdAlumnos = r.Id_Alumno
INNER JOIN dbo.Grupo AS g ON r.Id_Grupo = g.Id_Grupo
INNER JOIN dbo.Carrera AS c ON g.IdCarrera = c.IdCarrera;
GO
/****** Object:  View [dbo].[viewGrupoCompleto]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewGrupoCompleto]
AS
SELECT g.Id_Grupo, ac.Nombre AS Maestro, au.Aula, au.Edificio, c.NombreCarrera, g.Horario, dbo.Alumnos.Nombre AS Alumno, au.IdAula, c.IdCarrera, ac.IdAcademico, dbo.Alumnos.IdAlumnos
FROM     dbo.Grupo AS g INNER JOIN
                  dbo.Academico AS ac ON g.IdMaestro = ac.IdAcademico INNER JOIN
                  dbo.Aula AS au ON g.IdAula = au.IdAula INNER JOIN
                  dbo.Carrera AS c ON g.IdCarrera = c.IdCarrera INNER JOIN
                  dbo.Alumnos ON g.IdAlumno = dbo.Alumnos.IdAlumnos
GO
SET IDENTITY_INSERT [dbo].[Academico] ON 

INSERT [dbo].[Academico] ([IdAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (2, N'Alvaro Alfonso', N'Valenzuela Figueroa', N'4to', CAST(N'2025-10-25T18:32:51.000' AS DateTime))
INSERT [dbo].[Academico] ([IdAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (3, N'Jose Antonio', N'Soto Cervantes', N'5to', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Academico] ([IdAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (4, N'Sergio', N'Zepeda Caro', N'3ro', CAST(N'2025-10-11T10:45:58.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Academico] OFF
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([IdAlumnos], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (1, N'Luis Emilio', N'Sierruqui', N'Irregular', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Alumnos] ([IdAlumnos], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (2, N'Sergio', N'Zepeda Caro', N'Activo', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Alumnos] ([IdAlumnos], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (3, N'Axel Imanol', N'Torres Carrete', N'Activo', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Aula] ON 

INSERT [dbo].[Aula] ([IdAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (1, N'D', N'02', N'03', N'90', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Aula] ([IdAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (2, N'A', N'02', N'2', N'45', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Aula] ([IdAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (3, N'A', N'03', N'3', N'45', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Aula] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([IdCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (1, N'Ingenieria en Sistemas', N'ISI', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Carrera] ([IdCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (3, N'Licenciatura en derecho', N'LD', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Carrera] ([IdCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (4, N'Licenciatura en Psicologia', N'LP', CAST(N'2025-10-11T12:30:02.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carrera] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([IdCiudad], [NombreCiudad], [SiglasCiudad], [FechaHoraCreacion], [IdEstado]) VALUES (1, N'Sonora', N'SNR', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Ciudad] ([IdCiudad], [NombreCiudad], [SiglasCiudad], [FechaHoraCreacion], [IdEstado]) VALUES (3, N'Nogales', N'NG', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Ciudad] ([IdCiudad], [NombreCiudad], [SiglasCiudad], [FechaHoraCreacion], [IdEstado]) VALUES (4, N'Guaymas', N'GYM', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IdEstado], [NombreEstado], [SiglaEstado], [FechaHoraCreacion], [IdPais]) VALUES (1, N'Sonora', N'SNR', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Estado] ([IdEstado], [NombreEstado], [SiglaEstado], [FechaHoraCreacion], [IdPais]) VALUES (2, N'Sinalona', N'SN', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Estado] ([IdEstado], [NombreEstado], [SiglaEstado], [FechaHoraCreacion], [IdPais]) VALUES (3, N'Chihuahua', N'Ch', CAST(N'2025-10-09T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([Id_Grupo], [IdAlumno], [IdMaestro], [IdAula], [Horario], [IdCarrera]) VALUES (2, 2, 2, 5, N'12:00 - 1:00', 5)
INSERT [dbo].[Grupo] ([Id_Grupo], [IdAlumno], [IdMaestro], [IdAula], [Horario], [IdCarrera]) VALUES (3, 1, 3, 1, N'12:00-7:00', 1)
INSERT [dbo].[Grupo] ([Id_Grupo], [IdAlumno], [IdMaestro], [IdAula], [Horario], [IdCarrera]) VALUES (4, 1, 3, 1, N'1:00-8:00', 1)
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([IdMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (1, N'Desarrollo de Sistemas 3', N'40', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Materia] ([IdMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (2, N'Bases de datos 2', N'70', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Materia] ([IdMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (3, N'Fundamentos de Computacion 3', N'50', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (1, N'Mexico', N'MXN', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Pais] ([IdPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (2, N'Estados Unidos', N'EU', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Pais] ([IdPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (3, N'Canada', N'CA', CAST(N'2025-10-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Reincripcion] ON 

INSERT [dbo].[Reincripcion] ([IdReinscripcion], [Id_Grupo], [Id_Alumno], [Calificacion], [FechaHoraCreacion]) VALUES (4, 8, 4, 100, CAST(N'2025-10-12T14:39:53.000' AS DateTime))
INSERT [dbo].[Reincripcion] ([IdReinscripcion], [Id_Grupo], [Id_Alumno], [Calificacion], [FechaHoraCreacion]) VALUES (5, 3, 6, 80, CAST(N'2025-10-12T14:56:37.000' AS DateTime))
INSERT [dbo].[Reincripcion] ([IdReinscripcion], [Id_Grupo], [Id_Alumno], [Calificacion], [FechaHoraCreacion]) VALUES (6, 4, 3, 80, CAST(N'2025-10-12T15:02:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reincripcion] OFF
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [IdEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [IdEstado]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [IdPais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [IdPais]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [AlumnoGrupo] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([IdAlumnos])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [AlumnoGrupo]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [AulaGrupo] FOREIGN KEY([IdAula])
REFERENCES [dbo].[Aula] ([IdAula])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [AulaGrupo]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [CarreraGrupo] FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carrera] ([IdCarrera])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [CarreraGrupo]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [Maestro] FOREIGN KEY([IdMaestro])
REFERENCES [dbo].[Academico] ([IdAcademico])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [Maestro]
GO
ALTER TABLE [dbo].[Reincripcion]  WITH CHECK ADD  CONSTRAINT [GrupoReins] FOREIGN KEY([Id_Grupo])
REFERENCES [dbo].[Grupo] ([Id_Grupo])
GO
ALTER TABLE [dbo].[Reincripcion] CHECK CONSTRAINT [GrupoReins]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarAcademicos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Update - Academicos>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarAcademicos]
	-- Add the parameters for the stored procedure here
	@IdAcademico INT,
    @Nombre VARCHAR(50),
    @Apellidos VARCHAR(50),
    @Grado VARCHAR(10),        
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Academico]
    SET 
        [Nombre] = @Nombre,
        [Apellidos] = @Apellidos,
        [Grado] = @Grado,
        [FechaHoraCreacion] = @FechaHoraCreacion
    WHERE 
        [IdAcademico] = @IdAcademico;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarAlumnos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Update - Alumnos>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarAlumnos]
	@IdAlumnos INT,
    @Nombre NVARCHAR(50),
    @Apellidos NVARCHAR(50),
    @Estatus NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Alumnos]
    SET 
        [Nombre] = @Nombre,
        [Apellidos] = @Apellidos,
        [Estatus] = @Estatus
    WHERE 
        [IdAlumnos] = @IdAlumnos;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarAulas]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda >
-- Create date: <25-10-2025>
-- Description:	<Update - Aula >
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarAulas] 
	-- Add the parameters for the stored procedure here
	@IdAula INT,
    @Edificio VARCHAR(10),
    @Aula VARCHAR(10),
    @Piso VARCHAR(10),
    @CapacidadMaxima VARCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Aula]
    SET 
        [Edificio] = @Edificio,
        [Aula] = @Aula,
        [Piso] = @Piso,
        [CapacidadMaxima] = @CapacidadMaxima
    WHERE 
        [IdAula] = @IdAula;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCarreras]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Update Carrera>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarCarreras] 
	-- Add the parameters for the stored procedure here
	@IdCarrera INT,
    @NombreCarrera VARCHAR(50),
    @SiglasCarrera VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Carrera]
    SET 
        [NombreCarrera] = @NombreCarrera,
        [SiglasCarrera] = @SiglasCarrera
    WHERE 
        [IdCarrera] = @IdCarrera;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCiudades]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Update Ciudad>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarCiudades] 
	-- Add the parameters for the stored procedure here
	@IdCiudad INT,
    @NombreCiudad VARCHAR(50),
    @SiglasCiudad VARCHAR(50),
    @IdEstado INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Ciudad]
    SET 
        [NombreCiudad] = @NombreCiudad,
        [SiglasCiudad] = @SiglasCiudad,
        [IdEstado] = @IdEstado
    WHERE 
        [IdCiudad] = @IdCiudad; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstados]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2015>
-- Description:	<Update Estados>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarEstados]
	-- Add the parameters for the stored procedure here
	@IdEstado INT,
    @NombreEstado VARCHAR(50),
    @SiglaEstado VARCHAR(50),
    @IdPais INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Estado]
    SET 
        [NombreEstado] = @NombreEstado,
        [SiglaEstado] = @SiglaEstado,
        [IdPais] = @IdPais
    WHERE 
        [IdEstado] = @IdEstado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarGrupo]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Update Grupo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarGrupo] 
	-- Add the parameters for the stored procedure here
	@IdGrupo INT,
    @IdMaestro INT,
    @IdAula INT,
    @IdCarrera INT,
    @IdAlumno INT,
    @Horario VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Grupo]
    SET 
        [IdMaestro] = @IdMaestro,
        [IdAula] = @IdAula,
        [IdCarrera] = @IdCarrera,
        [Horario] = @Horario,
        [IdAlumno] = @IdAlumno
    WHERE 
        [Id_Grupo] = @IdGrupo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMaterias]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Update Materia>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarMaterias] 
	-- Add the parameters for the stored procedure here
	@IdMateria INT,
    @NombreMateria VARCHAR(50),
    @Creditos VARCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Materia]
    SET 
        [NombreMateria] = @NombreMateria,
        [Creditos] = @Creditos
    WHERE 
        [IdMateria] = @IdMateria;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPaises]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda >
-- Create date: <25-10-2025>
-- Description:	<Update Pais>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizarPaises]
	-- Add the parameters for the stored procedure here
	@IdPais INT,
    @NombrePais NVARCHAR(50),
    @SiglaPais NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Pais]
    SET 
        [NombrePais] = @NombrePais,
        [SiglaPais] = @SiglaPais
    WHERE 
        [IdPais] = @IdPais;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AcualizarReinscripcion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Update Reinscripcion>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AcualizarReinscripcion]
	-- Add the parameters for the stored procedure here
	@IdReinscripcion INT,
    @Id_Grupo INT,
    @Id_Alumno INT,
    @Calificacion FLOAT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Reincripcion]
    SET 
        [Id_Grupo] = @Id_Grupo,
        [Id_Alumno] = @Id_Alumno,
        [Calificacion] = @Calificacion
        
    WHERE 
        [IdReinscripcion] = @IdReinscripcion; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearAcademicos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create - Academicos>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearAcademicos]	-- Add the parameters for the stored procedure here
	@Nombre VARCHAR(50),
    @Apellidos VARCHAR(50),
    @Grado VARCHAR(10),       
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Academico] (
        [Nombre],
        [Apellidos],
        [Grado],
        [FechaHoraCreacion]
    )
    VALUES (
        @Nombre,
        @Apellidos,
        @Grado,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearAlumnos]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda Caro>
-- Create date: <25-10-2025>
-- Description:	<Create - Alumno>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearAlumnos]
	
	@Nombre VARCHAR(50),
    @Apellidos VARCHAR(50),
    @Estatus NVARCHAR(50),    
    @FechaHoraCreacion DATETIME
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Alumnos] (
        [Nombre],
        [Apellidos],
        [Estatus],
        [FechaHoraCreacion]
    )
    VALUES (
        @Nombre,
        @Apellidos,
        @Estatus,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearAulas]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create - Aula>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearAulas]
	-- Add the parameters for the stored procedure here
	@Edificio VARCHAR(10),
    @Aula VARCHAR(10),
    @Piso VARCHAR(10),        
    @CapacidadMaxima VARCHAR(10),      
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Aula] (
        [Edificio],
        [Aula],
        [Piso],
        [CapacidadMaxima],
        [FechaHoraCreacion]
    )
    VALUES (
        @Edificio,
        @Aula,
        @Piso,
        @CapacidadMaxima,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCarreras]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2015>
-- Description:	<Create Carrera>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearCarreras]
	-- Add the parameters for the stored procedure here
	@NombreCarrera VARCHAR(50),
    @SiglasCarrera VARCHAR(50),
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Carrera] (
        [NombreCarrera],
        [SiglasCarrera],
        [FechaHoraCreacion]
    )
    VALUES (
        @NombreCarrera,
        @SiglasCarrera,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCiudades]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create Ciudad >
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearCiudades]
	-- Add the parameters for the stored procedure here
	@NombreCiudad VARCHAR(50),
    @SiglasCiudad VARCHAR(50),
    @FechaHoraCreacion DATETIME,
    @IdEstado INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Ciudad] (
        [NombreCiudad],
        [SiglasCiudad],
        [FechaHoraCreacion],
        [IdEstado]
    )
    VALUES (
        @NombreCiudad,
        @SiglasCiudad,
        @FechaHoraCreacion,
        @IdEstado
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearEstados]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create Estado>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearEstados] 
	-- Add the parameters for the stored procedure here
	@NombreEstado VARCHAR(50),
    @SiglaEstado VARCHAR(50),
    @FechaHoraCreacion DATETIME,
    @IdPais INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Estado] (
        [NombreEstado],
        [SiglaEstado],
        [FechaHoraCreacion],
        [IdPais]
    )
    VALUES (
        @NombreEstado,
        @SiglaEstado,
        @FechaHoraCreacion,
        @IdPais
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearGrupo]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create Grupo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearGrupo] 
	-- Add the parameters for the stored procedure here
	@IdMaestro INT,
    @IdAula INT,
    @IdCarrera INT,
    @IdAlumno INT,
    @Horario VARCHAR(50)
   
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Grupo] (
        [IdMaestro],
        [IdAula],
        [IdCarrera],
        [Horario],
        [IdAlumno]
       
    )
    VALUES (
        @IdMaestro,
        @IdAula,
        @IdCarrera,
        @Horario,
        @IdAlumno
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearMaterias]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Create Materia>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearMaterias]
	-- Add the parameters for the stored procedure here
	@NombreMateria VARCHAR(50),
    @Creditos VARCHAR(10),
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Materia] (
        [NombreMateria],
        [Creditos],
        [FechaHoraCreacion]
    )
    VALUES (
        @NombreMateria,
        @Creditos,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPaises]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Create Pais>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearPaises] 
	-- Add the parameters for the stored procedure here
	@NombrePais NVARCHAR(50),
    @SiglaPais NVARCHAR(50),
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Pais] (
        [NombrePais],
        [SiglaPais],
        [FechaHoraCreacion]
    )
    VALUES (
        @NombrePais,
        @SiglaPais,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearReinscripcion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <25-10-2025>
-- Description:	<Create Reinscripcion>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearReinscripcion] 
	-- Add the parameters for the stored procedure here
	@Id_Grupo INT,
    @Id_Alumno INT,
    @Calificacion FLOAT,
    @FechaHoraCreacion DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Reincripcion] (
        [Id_Grupo],
        [Id_Alumno],
        [Calificacion],
        [FechaHoraCreacion]
    )
    VALUES (
        @Id_Grupo,
        @Id_Alumno,
        @Calificacion,
        @FechaHoraCreacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAcademico]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Academico>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarAcademico]
	-- Add the parameters for the stored procedure here
	@IdAcademico INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Academico]
    WHERE 
        [IdAcademico] = @IdAcademico;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAlumno]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Alumnos>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarAlumno]
	-- Add the parameters for the stored procedure here
	@IdAlumno INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Alumnos]
    WHERE 
        [IdAlumnos] = @IdAlumno;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAula]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Aula>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarAula] 
	-- Add the parameters for the stored procedure here
	@IdAula INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Aula]
    WHERE 
        [IdAula] = @IdAula;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCarrera]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Aula>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarCarrera] 
	-- Add the parameters for the stored procedure here
	@IdCarrera INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Carrera]
    WHERE 
        [IdCarrera] = @IdCarrera;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCiudad]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Ciudad>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarCiudad]
	-- Add the parameters for the stored procedure here
	@IdCiudad INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Ciudad]
    WHERE 
        [IdCiudad] = @IdCiudad;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEstado]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Estado>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarEstado]
	-- Add the parameters for the stored procedure here
	@IdEstado INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		DELETE FROM [dbo].[Estado]
    WHERE 
        [IdEstado] = @IdEstado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarGrupo]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Grupo>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarGrupo] 
	-- Add the parameters for the stored procedure here
	@IdGrupo INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
				DELETE FROM [dbo].[Grupo]
    WHERE 
        [Id_Grupo] = @IdGrupo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMateria]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Materia>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarMateria]
	-- Add the parameters for the stored procedure here
	@IdMateria INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
			DELETE FROM [dbo].[Materia]
    WHERE 
        [IdMateria] = @IdMateria;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPais]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Pais>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarPais] 
	-- Add the parameters for the stored procedure here
	@IdPais INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
			DELETE FROM [dbo].[Pais]
    WHERE 
        [IdPais] = @IdPais;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarReinscripcion]    Script Date: 10/26/2025 3:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sergio Zepeda>
-- Create date: <26-10-2025>
-- Description:	<Delete Reinscripcion>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarReinscripcion] 
	-- Add the parameters for the stored procedure here
	@IdReinscripcion INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
				DELETE FROM [dbo].[Reincripcion]
    WHERE 
        [IdReinscripcion] = @IdReinscripcion;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[56] 4[21] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "g"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ac"
            Begin Extent = 
               Top = 22
               Left = 436
               Bottom = 185
               Right = 660
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "au"
            Begin Extent = 
               Top = 204
               Left = 416
               Bottom = 367
               Right = 640
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 285
               Left = 169
               Bottom = 448
               Right = 393
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Alumnos"
            Begin Extent = 
               Top = 7
               Left = 708
               Bottom = 170
               Right = 932
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewGrupoCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1356
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewGrupoCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewGrupoCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[54] 4[39] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "r"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 24
               Left = 391
               Bottom = 187
               Right = 615
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "g"
            Begin Extent = 
               Top = 107
               Left = 773
               Bottom = 270
               Right = 967
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ac"
            Begin Extent = 
               Top = 217
               Left = 79
               Bottom = 380
               Right = 303
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 344
               Left = 363
               Bottom = 539
               Right = 587
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "au"
            Begin Extent = 
               Top = 353
               Left = 602
               Bottom = 516
               Right = 826
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewReinscripcionesCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewReinscripcionesCompleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewReinscripcionesCompleto'
GO
USE [master]
GO
