USE [master]
GO
/****** Object:  Database [BDEscolar]    Script Date: 12/10/2025 11:44:44 p. m. ******/
CREATE DATABASE [BDEscolar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDEscolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDEscolar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDEscolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDEscolar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDEscolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDEscolar]
GO
/****** Object:  Table [dbo].[Academico]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academico](
	[IDAcademico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Apellidos] [varchar](50) NULL,
	[Grado] [varchar](12) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Academico] PRIMARY KEY CLUSTERED 
(
	[IDAcademico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[IDAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Apellidos] [varchar](50) NULL,
	[Estatus] [varchar](10) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[IDAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[IDAula] [int] IDENTITY(1,1) NOT NULL,
	[Edificio] [varchar](10) NULL,
	[Aula] [int] NULL,
	[Piso] [int] NULL,
	[CapacidadMaxima] [int] NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Aula] PRIMARY KEY CLUSTERED 
(
	[IDAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[IDCarrera] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarrera] [varchar](50) NULL,
	[SiglasCarrera] [varchar](3) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[IDCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[IDCiudad] [int] IDENTITY(1,1) NOT NULL,
	[NombreCiudad] [varchar](20) NULL,
	[SiglasCiudad] [varchar](3) NULL,
	[IDEstado] [int] NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[IDCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IDEstado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](12) NULL,
	[SiglaEstado] [nchar](3) NULL,
	[IDPais] [int] NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[IDEstatus] [int] IDENTITY(1,1) NOT NULL,
	[ClaveEstatus] [int] NULL,
	[NombreEstatus] [varchar](20) NULL,
	[Usuario] [varchar](20) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Estatus] PRIMARY KEY CLUSTERED 
(
	[IDEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IDGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Alumno] [varchar](20) NULL,
	[Maestro] [varchar](20) NULL,
	[Aula] [varchar](10) NULL,
	[Horario] [varchar](10) NULL,
	[Carrera] [varchar](50) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[IDGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IDMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](50) NULL,
	[Creditos] [int] NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[IDMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IDPais] [int] IDENTITY(1,1) NOT NULL,
	[NombrePais] [varchar](12) NULL,
	[SiglaPais] [varchar](3) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[IDPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reinscripcion]    Script Date: 12/10/2025 11:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reinscripcion](
	[IDReinscripcion] [int] IDENTITY(1,1) NOT NULL,
	[IDGrupo] [int] NULL,
	[IDAlumno] [int] NULL,
	[Calificacion] [decimal](18, 0) NULL,
	[FechaHoraCreacion] [varchar](50) NULL,
 CONSTRAINT [PK_Reinscripcion] PRIMARY KEY CLUSTERED 
(
	[IDReinscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Academico] ON 

INSERT [dbo].[Academico] ([IDAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (1, N'Emiliano', N'Ortega Rodriguez', N'Quinto', N'16:32')
INSERT [dbo].[Academico] ([IDAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (2, N'Jose Antonio', N'Figueroa Figueroa', N'Postgrado', N'13:42')
INSERT [dbo].[Academico] ([IDAcademico], [Nombre], [Apellidos], [Grado], [FechaHoraCreacion]) VALUES (4, N'Daniel', N' Rubal Valencia', N'Quinto', N'08:51')
SET IDENTITY_INSERT [dbo].[Academico] OFF
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([IDAlumno], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (1, N'Julio Cesar', N'Ju Salido', N'Activo', N'17:23')
INSERT [dbo].[Alumno] ([IDAlumno], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (2, N'Hiram', N'Cordova Galindo', N'Activo', N'18:43')
INSERT [dbo].[Alumno] ([IDAlumno], [Nombre], [Apellidos], [Estatus], [FechaHoraCreacion]) VALUES (4, N'Alonso', N'Canales Meza', N'Activo', N'04:34')
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[Aula] ON 

INSERT [dbo].[Aula] ([IDAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (1, N'5J', 201, 2, 40, N'08:43')
INSERT [dbo].[Aula] ([IDAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (2, N'5O', 303, 3, 20, N'10:56')
INSERT [dbo].[Aula] ([IDAula], [Edificio], [Aula], [Piso], [CapacidadMaxima], [FechaHoraCreacion]) VALUES (4, N'3K', 103, 1, 20, N'14:50')
SET IDENTITY_INSERT [dbo].[Aula] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([IDCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (1, N'Ingenieria en Sistemas de Informacion', N'ISI', N'17:23')
INSERT [dbo].[Carrera] ([IDCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (2, N'Ingenieria Industrial y de Sistemas', N'IIS', N'06:24')
INSERT [dbo].[Carrera] ([IDCarrera], [NombreCarrera], [SiglasCarrera], [FechaHoraCreacion]) VALUES (5, N'Ingenieria Civil', N'IC', N'12:30')
SET IDENTITY_INSERT [dbo].[Carrera] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([IDCiudad], [NombreCiudad], [SiglasCiudad], [IDEstado], [FechaHoraCreacion]) VALUES (1, N'Obregon', N'CEN', 1, N'19:12')
INSERT [dbo].[Ciudad] ([IDCiudad], [NombreCiudad], [SiglasCiudad], [IDEstado], [FechaHoraCreacion]) VALUES (2, N'Cartagena', N'CTG', 3, N'09:28')
INSERT [dbo].[Ciudad] ([IDCiudad], [NombreCiudad], [SiglasCiudad], [IDEstado], [FechaHoraCreacion]) VALUES (3, N'Maracay', N'MAR', 4, N'16:44')
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IDEstado], [NombreEstado], [SiglaEstado], [IDPais], [FechaHoraCreacion]) VALUES (1, N'Sonora', N'SON', 1, N'04:23')
INSERT [dbo].[Estado] ([IDEstado], [NombreEstado], [SiglaEstado], [IDPais], [FechaHoraCreacion]) VALUES (3, N'Bolivar', N'BOL', 3, N'16:23')
INSERT [dbo].[Estado] ([IDEstado], [NombreEstado], [SiglaEstado], [IDPais], [FechaHoraCreacion]) VALUES (4, N'Aragua', N'ARA', 4, N'13:54')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Estatus] ON 

INSERT [dbo].[Estatus] ([IDEstatus], [ClaveEstatus], [NombreEstatus], [Usuario], [FechaHoraCreacion]) VALUES (1, 224203591, N'Activo', N'Julio Ju', N'16:23')
INSERT [dbo].[Estatus] ([IDEstatus], [ClaveEstatus], [NombreEstatus], [Usuario], [FechaHoraCreacion]) VALUES (2, 224201592, N'Activo', N'Hiram', N'18:34')
INSERT [dbo].[Estatus] ([IDEstatus], [ClaveEstatus], [NombreEstatus], [Usuario], [FechaHoraCreacion]) VALUES (4, 224205618, N'Activo', N'Alonso', N'07:34')
SET IDENTITY_INSERT [dbo].[Estatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IDGrupo], [Alumno], [Maestro], [Aula], [Horario], [Carrera]) VALUES (1, N'Julio Cesar', N'Emiliano', N'201', N'12:00', N'Ingenieria en Sistemas de Informacion')
INSERT [dbo].[Grupo] ([IDGrupo], [Alumno], [Maestro], [Aula], [Horario], [Carrera]) VALUES (2, N'Hiram', N'Daniel', N'303', N'14:00', N'Ingenieria Industrial y de Sistemas')
INSERT [dbo].[Grupo] ([IDGrupo], [Alumno], [Maestro], [Aula], [Horario], [Carrera]) VALUES (3, N'Alonso', N'Daniel', N'103', N'15:00', N'Ingenieria en Sistemas de Informacion')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([IDMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (1, N'Desarrollo3', 8, N'12:30')
INSERT [dbo].[Materia] ([IDMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (2, N'Dibujo Industrial', 8, N'13:00')
INSERT [dbo].[Materia] ([IDMateria], [NombreMateria], [Creditos], [FechaHoraCreacion]) VALUES (4, N'Calculo1', 8, N'12:00')
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IDPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (1, N'Mexico', N'MEX', N'15:56')
INSERT [dbo].[Pais] ([IDPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (3, N'Colombia', N'CLM', N'12:45')
INSERT [dbo].[Pais] ([IDPais], [NombrePais], [SiglaPais], [FechaHoraCreacion]) VALUES (4, N'Venezuela', N'VEN', N'04:22')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Reinscripcion] ON 

INSERT [dbo].[Reinscripcion] ([IDReinscripcion], [IDGrupo], [IDAlumno], [Calificacion], [FechaHoraCreacion]) VALUES (1, 1, 1, CAST(79 AS Decimal(18, 0)), N'16:30')
INSERT [dbo].[Reinscripcion] ([IDReinscripcion], [IDGrupo], [IDAlumno], [Calificacion], [FechaHoraCreacion]) VALUES (2, 2, 2, CAST(89 AS Decimal(18, 0)), N'13:00')
INSERT [dbo].[Reinscripcion] ([IDReinscripcion], [IDGrupo], [IDAlumno], [Calificacion], [FechaHoraCreacion]) VALUES (3, 3, 4, CAST(90 AS Decimal(18, 0)), N'12:00')
SET IDENTITY_INSERT [dbo].[Reinscripcion] OFF
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Estado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[Estado] ([IDEstado])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_Ciudad_Estado]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Pais] FOREIGN KEY([IDPais])
REFERENCES [dbo].[Pais] ([IDPais])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_Estado_Pais]
GO
ALTER TABLE [dbo].[Reinscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Reinscripcion_Grupo] FOREIGN KEY([IDGrupo])
REFERENCES [dbo].[Grupo] ([IDGrupo])
GO
ALTER TABLE [dbo].[Reinscripcion] CHECK CONSTRAINT [FK_Reinscripcion_Grupo]
GO
USE [master]
GO
